.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-right{
  border-radius: 0.3rem;
  position: absolute;
  font-size: small;
  color: white;
  background-color: #282c34;
  font-weight: bold;
  bottom: 16px; 
  height: 23px;
  right: 10%;
}

.brand{
  font-family: 'Mallanna', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.br-line{
  /* background-color: #7a7f89; */
  border: 0.5px solid rgb(178, 176, 176);
}

.load-btn{
  background-color: rgb(177, 7, 7);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 16px;
  font-weight: 550;
  font-family: sans-serif;
  padding: 8px 4px 8px 4px;
}

.btn-overlay{
  position:absolute;
  top:390px;
  left: 535px;
  z-index:1;
}

.cursor-pointer{
  cursor: pointer;
}

.container{
  max-width: 1250px !important;
}

.ht-500{
  height: 450px;
}

.hide{
  visibility: none;
}

.img-frame{
  position: relative;
}
.mt-8{
  margin-top: 8px;
}

.overlay {
  position:absolute;
  top:10px;
  left:15px;
  z-index:1;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.thumbnail{
  position: relative;
  border-radius: 0.6em;
  color: #282c34;
  object-fit: contain;
}

.vd-frame{
  position: relative;
  border-radius: 0.6rem;
}

.vd-frame:hover{
  z-index: 99;
}
.vd{
  position:relative;
  object-fit: cover;
}

.vd-overlay{
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 0.6rem;
  background-image: linear-gradient(
    #000000,
    rgba(25, 29, 32, 0.32) 30%,
    rgba(255, 255, 255, 0)
  );
}

/* .vd:active {
  background-image: none;
  background-color:orange;
} */

.vd-overlay:hover{
  z-index: -1;
}


.wt-500{
  font-weight: 500;
}